

<section class="container mt-4 mb-5" *ngIf="listas[0] !== ' ' && listas.length !== 0, else pesquisa">
    <h1 class="ml-3 mb-5 ">Lista de Resultados</h1>
    <ol class="list-unstyled">
        <div *ngFor="let lista of listas">
            <div class="card mb-4" >
                <div class="card-header">
                    <h5>{{ lista.Pergunta }}</h5>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <p class="card-text">{{ lista.Resposta }}</p>
                    <!-- /.card-text -->
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </ol>
</section>
<!-- /.container-fluid -->
<ng-template  #pesquisa>
        <p class="text-center text-muted texto-responsta mt-5"  *ngIf="listas[0] == ' '">
            
          </p>
          <p class="text-center text-muted texto-responsta mt-5"  *ngIf="listas.length == 0">
                Desculpe, nenhuma resposta encontrada! 
            </p>
 </ng-template>