<section class="cor-fundo">  
    <h1 class="centraliza-titulo">Tecnologia de Busca</h1>  
   <!--div class="componente" -->    
    <form [formGroup]="perguntaForm" >
              <div class="input-group col-sm-4 mb-3">
                      <input
                      formControlName="pergunta"
                      type="text"
                        class="form-control"
                        aria-label="Recipient's username"
                        aria-describedby="button-addon2"
                      >
                      <div class="input-group-append">
                      <button class="btn btn-primary" type="button" id="button-addon2" (click)="fazPergunta()">Pesquisar</button>
                      </div>
              </div>
          </form>  
  <!--/!--div -->
</section>
<!-- section class="mt-4"  *ngIf="listaDePerguntas.length, else pesquisa">
  <app-busca [listaDePerguntas]="listaDePerguntas"></app-busca>
  
</section>

    <ng-template #pesquisa>   
    <p class="text-center text-muted texto-responsta mt-5">
        Desculpe, nenhuma resposta encontrada! 
      </p>
    </ng-template -->
   
<app-busca [listas]="listas"></app-busca>
  